* {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}

body {
  background-color: #222;
}

a {
  text-decoration: none;
}

#navbar {
    height: 4rem;
    width: 100%;
    background-color: brown;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#navbar a {
    margin-right: 2em;
    color: white;
}

#welcome-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #222;
}

#main-heading {
  color: white;
  font-size: 3em;
  margin-bottom: 0.2em;
}

#sub-heading {
  color: brown;
  font-style: italic;
  font-size: 1.2em;
}

#projects {
  background-color: #005f73;
  padding: 3em;
}

#projects h2 {
  color: white;
  text-align: center;
}

#projects hr {
  border-color: white;
  width: 24em;
  margin-top: 0.1em;
}

#projects .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  margin: 2em auto;
}

.project-link {
    display: inline-block;
    width: 100%;
    min-height: 20em;
    color: white;
}



#projects .project-tile {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #222;
  cursor: pointer;
}


#projects .project-image {
  height: 80%;
  width: 100%;
  /* background: linear-gradient(45deg, cyan, white); */
  border: 0.5px solid black;
}

.first-project {
    background: url(./images/tribute.png);    
    background-size: cover;
    background-position: center top;
}

.second-project {
    background: url(./images/js-docs.png);    
    background-color: white;
    background-size:100%;
    overflow: hidden;
}

.third-project {
    background: url(./images/product.png);  
    background-size: cover;
    background-position: center top;  
}

.fourth-project {
    background: url(./images/portfolio.png);    
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;

}

#projects .project-title {
  width: 100%;
  margin: auto 0;
  text-align: center;
}

#projects span {
    color: brown;
    font-weight: bolder;
    font-size: larger;
    opacity: 0;
  }
  
  #projects .project-tile:hover span {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
  }

#profile-link {
  display: block;
  text-align: center;
  width: 8em;
  padding: 0.8em;
  background-color: #222;
  margin: 0 auto;
  color: white;
}

#profile-link span {
  color: white;
  font-weight: bold;
  display: inline-block;
  opacity: 1;
  font-size: normal;
  font-weight: normal;
}

#profile-link:hover {
  background-color: brown;
}

#profile-link:hover span {
  transform: translate(5px, 0);
  transition: transform 300ms ease-in-out;
}

#contact {
  margin: 15vh 5%;
  text-align: center;
}

#contact h2 {
  font-size: 3em;
  margin-bottom: 0.1em;
}

#contact p {
  font-style: italic;
}

.social-media-links {
  margin-top: 2em;
  font-size: 1.2em;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.social-media-links a {
    margin: 0;
    padding: .3em;
    color: white;
}

.social-media-links a:hover {
  transform: translate(0, 10px);
  transition: transform 300ms ease-in-out;
}

footer {
  padding-block: 3em;
  border-top: 3px solid brown;
  text-align: center;
}

footer a {
  color: white;
}

footer a:hover {
    color: brown;
}

@media screen and (min-width: 600px){
    .container {
        max-width: 80vh;
    }

    .social-media-links {
        margin-inline: auto;
    }
}
