@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #eee;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: #eee;
    width: 100%;
}

#header-img {
    width: 300px;
}

#nav-bar {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    color: black;
}

main {
    width: 50%;
    margin: 5rem auto 0;
}

#hero {
    text-align: center;
}

#hero h2 {
    margin: 1rem auto;
}

#email {
    padding: 5px;
    width: 30%;
}

#submit {
    display: block;
    margin: 1rem auto;
    padding: 5px;
    background-color: #f1c40f;
    border: none;
}

#features {
    padding-top: 2rem;
}

#features li {
    list-style-type: none;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#features i {
    color: darkorange;
    margin: 0 auto;
}
.description {
    display: inline-block;
    width: 80%;
}

#video{
    display: block;
    text-align: center;
    margin: 5rem auto;
    width:480px;
    height: 260px;
}

#products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.item {
    border: 1px solid black;
    text-align: center;
}

.item h2 {
    padding: 15px 20px;
    background-color: #ddd;
    font-size: 1rem;
}

.price {
    margin: 15px 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.item p {
    line-height: 1.8rem;
}

.item button {
    font-size: 1rem;
    padding: 10px 15px;
    margin: 30px 0 20px;
    background-color: #f1c40f;
    border: none;
}

footer {
    text-align: right;
    padding: 1rem 0;
    margin-top: 2rem;
    background-color: #ddd;
}

footer li{
    display: inline-block;
    margin-right: 2rem;
    padding: 5px 0;
}

.copy {
    margin-right: 2rem;
    color: #666;
}

@media only screen and (max-width: 1440px) {
    main {
        width: 65%;
    }
}

@media only screen and (max-width: 1080px) {
    main {
        width: 80%;
        margin-top: 6rem;
    }

    #nav-bar{
        flex-direction: column;
        align-items: end;
    }
}


@media only screen and (max-width: 780px) {
    main {
        width: 90%;
    }
}


@media only screen and (max-width: 690px) {

    main {
        width: 100%;
    }

    #features, #products {
        margin: 0 10px;
    }
}

@media only screen and (max-width: 689px) {
    .item {
        grid-column: 1/-1;
        width: 50%;
        margin: 1rem auto;
    }

    #email {
        width: 50%;
    }

}

@media only screen and (max-width: 580px) {
    header {
        flex-direction: column;
    }

    .item {
        width: 60%;
    }

    main {
        margin-top: 8rem;
    }

    #email {
        width: 65%;
    }

    #nav-bar {
        flex-direction: row;
        width:100%;
        margin-top: 1rem;
        justify-content: space-around;
    }
}

